# Flutter / Dart
.dart_tool/
.packages
.pub-cache/
.pub/
coverage/
**/generated_plugin_registrant.dart

# Symbolication / obfuscation
app.*.symbols

# IDEs
.idea/
*.iml
.vscode/

# iOS / macOS
ios/Pods/
ios/.symlinks/
ios/Flutter/.last__id
ios/Flutter/Flutter.framework/
ios/Flutter/Flutter.podspec
ios/ServiceDefinitions.json
macos/Pods/
macos/Flutter/ephemeral/

# Android
android/.gradle/
android/app/key.jks
android/key.properties
*.keystore

# Linux
linux/flutter/ephemeral/

# Windows
windows/flutter/ephemeral/

# Firebase / secrets
*.secret
*.env

# Vercel
.vercel/

# Build output
build/*
!build/web/
